.school-image {
    height: 300px;
}

.cover_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.school-name-box {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}

.school-logo {
    width: 180px;
    height: 150px;
    margin-top: -50px;
        border-radius: 0%;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 50px;
      grid-template-columns: 10% 70% 20%;
    grid-gap: 10px;
  }
  
  .item1{
  grid-row-start: 1; grid-row-end: 3;
  grid-column-start: 1; grid-column-end: 2;
  }
  
  .item2{
  grid-row-start: 1; grid-row-end: 2;
  grid-column-start: 2; grid-column-end: 3;
  }
  
  .item3{
  justify-content: center;
  grid-row-start: 1; grid-row-end: 2;
  grid-column-start: 3; grid-column-end: 4;
  }
  
  .item4{
  grid-row-start: 2; grid-row-end: 3;
  grid-column-start: 3; grid-column-end: 4;
  }
  
  .item5{
  grid-row-start: 2; grid-row-end: 3;
  grid-column-start: 2; grid-column-end: 3;
  }
  
  .item6{
  display: flex;
  flex-direction: row;
}

.brouchure_button{
    background-color: #D81919;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 7px 17px;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}


.school-heading {
    margin-left: 2%;
    display: grid;
    grid-template-areas:
    'logo heading heading heading heading brochre'
    'logo heading heading heading heading brochre'
    'logo inf inf inf inf brochre';
}

.school_info{
    margin-right: 10px;
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 45%;
}

.button-style {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color:crimson;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
}

.school-menu {
    display: flex;
    flex-direction: row;
    margin: 30px 10px 10px 10px;
    justify-content: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);


}

.menu-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.menu-button:hover {
color: crimson ;
}

.info-section {
    background-color: white;
    margin: 20px 10px 10px 10px;
    padding: 10px 20px;
}